:root
{
	--color-body: #506077;
	--color-body-light: #F8FDFF;

	--color-primary: #002F6E;
	--color-primary-tr: #002F6E50;
	--color-accent: #3447D3;
	--color-secondary: #045FA3;

	--color-white: #FFF;
	--color-black: #000;
	--color-grey: #9D9D9D;
	--color-grey-light: #F6F6F6;
	--color-border: #CFEAFF;

	--color-title-1: #32CAF8;
	--color-title-1-transp: #53D7FF20;
	--color-title-2: #253FFF;
	--color-title-2-transp: #5392FF20;
	--color-title-3: #5F42FF;
	--color-title-3-transp: #8E92FF20;
	--gradient-title-1: linear-gradient(180deg, #53D7FF20, #FFFFFF);
	--gradient-title-2: linear-gradient(180deg, #5392FF20, #FFFFFF);
	--gradient-title-3: linear-gradient(180deg, #8E92FF20, #FFFFFF);
	--stroke-title-1: #96E7FF;
	--stroke-title-2: #C0D7FF;
	--stroke-title-3: #C7C9FF;

	--color-error: #f34545;
	--color-accept: #45f36b;

	--shadow: 0 0 16.4px #10448515;

	--color-accent-transparent: #3447D340;
	--color-secondary-opacity:  #b5b1daae;
}

